extends ../layout/main
include ../cards/card 


block title
    | Memoji Game


block content
    +card(class="icon-bear-face") 
    +card(class="icon-koala-face") 
    +card(class="icon-tiger-face") 
    +card(class="icon-koala-face") 

    +card(class="icon-unicorn-face") 
    +card(class="icon-panda-face") 
    +card(class="icon-panda-face") 
    +card(class="icon-bear-face")

    +card(class="icon-bear-face") 
    +card(class="icon-lion-face") 
    +card(class="icon-unicorn-face") 
    +card(class="icon-lion-face")