$s-bear-face = 0px 0px 0px 0px 75px 75px 255px 165px 'sprite.png';
$s-koala-face = 90px 0px -90px 0px 75px 75px 255px 165px 'sprite.png';
$s-lion-face = 0px 90px 0px -90px 75px 75px 255px 165px 'sprite.png';
$s-panda-face = 90px 90px -90px -90px 75px 75px 255px 165px 'sprite.png';
$s-tiger-face = 180px 0px -180px 0px 75px 75px 255px 165px 'sprite.png';
$s-unicorn-face = 180px 90px -180px -90px 75px 75px 255px 165px 'sprite.png';
