@import "_sprite.styl"
@import "_mixins.styl"
@import "_vars.styl"

*
  box-sizing border-box
  margin 0

body
  background-color $background-color

section.section-main
  display flex
  flex-flow column wrap
  align-items center
  
h1
  line-height 47px
  font-size 42px
  font-family Arial, sans-serif
  color #434344
  margin 40px auto

// Cards

.wrapper
  width 595px
  height 400px
  height 440px
  display flex
  flex-flow row wrap
  justify-content space-between
  align-content space-between

.card-side
  width 100%
  height 100%
  position absolute
  display block
  border-radius 9px

.card-invisible
  @extends .card-side
  backface-visibility hidden

.memoji-card
  @extends .card-side
  transform-style preserve-3d
  transition transform $card-animation-speed
  box-shadow 1px 1px 5px rgba(0,0,0,0.5)

.active
  transform rotateY( 180deg )
    
.memoji-back
  @extends .card-invisible
  background-color white
  vertical-align middle
  text-align center
  display flex
  justify-content space-around
  align-items center
  transform rotateY( 180deg )
  
.memoji-front
  @extends .card-invisible
  border 5px solid white
  background linear-gradient(to bottom left, $primary-color-1, $primary-color-2)
  

.memoji-item
  width 130px
  height 130px
  perspective 600px
  position relative
  &:hover
    cursor pointer

// Success and losed cards

.winned
  transform rotateY( 180deg )
  .memoji-back
    background-color $win-color
  &:hover
    cursor default


.losed
  transform rotateY( 180deg )
  .memoji-back
    background-color $lose-color
  &:hover
    cursor default


/*
  Modal form    
*/



#modal-form
  position fixed
  left 0
  display flex
  flex-flow column nowrap
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%
  height 100%
  background-color: rgba(0, 0, 0, .2);
  z-index: 3;
  visibility: hidden;
  .modal-message
    background-color #ffffff
    text-align center
    font-size 48px
    padding 30px 100px
    font-family Arial
    display flex
    flex-flow column nowrap
    justify-content space-between
    .info 
      margin-top 30px
      margin-bottom 40px
      display inline-block
      animation animatedText .6s ease alternate infinite
      transform-origin bottom
    #play-btn 
      background linear-gradient(to left, #22AB93 , #19668D)
      color #ffffff
      box-shadow 1px 1px 1px rgba(0, 0, 0, .5)
      font-size 20px
      outline none
      border none
      padding 10px 30px
      &:hover
        cursor pointer
      &:active
        background-color #434344


@keyframes animatedText {
    to {
        transform: scale(1, 1.4) translateY(-4px);
    }
}

#timer
  text-align center
  line-height 36px
  font-size 32px
  font-family arial, sans-serif
  margin-top 5px 

// emoji-classes

.icon-memoji
  width 100%
  height 100%

.icon-bear-face
  @extends .icon-memoji
  sprite($s-bear-face)

.icon-koala-face
  @extends .icon-memoji
  sprite($s-koala-face)


.icon-lion-face
  @extends .icon-memoji
  sprite($s-lion-face)


.icon-panda-face
  @extends .icon-memoji
  sprite($s-panda-face)

.icon-tiger-face
  @extends .icon-memoji
  sprite($s-tiger-face)

.icon-unicorn-face
  @extends .icon-memoji
  sprite($s-unicorn-face)