doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Memoji
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        //- link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
        //- link(rel="stylesheet" type='text/css' href="static/css/main.css")

        title
            block title

    body
        #modal-form
            .modal-message
                .info.animated-text
                button#play-btn
                    | Try again
        section.section-main
            h1 Memoji
            .wrapper

            #timer
            

        script(src="static/js/main.js")